<form hx-post="{% url 'userauths:auth_register' %}" hx-target="#auth-error" hx-swap="innerHTML" class="mt-8 space-y-4">
    {% csrf_token %}
    <div class="text-sm text-gray-600 mb-4 text-center">
        Lengkapi data di bawah untuk mendaftar
    </div>

    <div>
        <label for="email" class="sr-only">Email</label>
        <input id="email" name="email" type="email" value="{{ email }}" required class="appearance-none rounded-md relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-black focus:border-black sm:text-sm transition-all" placeholder="Email">
    </div>

    <div>
        <label for="phone_number" class="sr-only">Nomor HP</label>
        <input id="phone_number" name="phone_number" type="text" value="{{ phone_number }}" required class="appearance-none rounded-md relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-black focus:border-black sm:text-sm transition-all" placeholder="Nomor HP">
    </div>

    <div>
        <label for="name" class="sr-only">Nama Lengkap</label>
        <input id="name" name="name" type="text" required class="appearance-none rounded-md relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-black focus:border-black sm:text-sm transition-all" placeholder="Nama Lengkap">
    </div>

    <div>
        <label for="password" class="sr-only">Buat Password</label>
        <input id="password" name="password" type="password" required class="appearance-none rounded-md relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-black focus:border-black sm:text-sm transition-all" placeholder="Buat Password">
    </div>
    
    <div>
        <label for="password_confirm" class="sr-only">Konfirmasi Password</label>
        <input id="password_confirm" name="password_confirm" type="password" required class="appearance-none rounded-md relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-black focus:border-black sm:text-sm transition-all" placeholder="Konfirmasi Password">
    </div>
    
    <div id="auth-error"></div>

    <div>
        <button type="submit" class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-bold rounded-md text-white bg-primary hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary transition-all uppercase tracking-widest">
            Daftar
        </button>
    </div>
</form>
